.sidebar {
  position: fixed;
  left: 0;
  bottom: -5rem;
  top: 55px;
  background-color: white;
  width: 220px;
  height: 800px;
  z-index: 200;
  padding: 0 12px;
  float: left;

  overflow-y: auto;
  height: 100%;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.footer-links {
  font-size: 13px;
  font-weight: 500;
  color: #606060;
  text-decoration: none;
  text-align: justify;
  margin-left: 1rem;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #909090;
  text-decoration: none;
  margin-left: 1rem;

}


.sidebar {
  padding-top: 10px;
  width: 240px;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  color: rgb(0, 0, 0);
}

.sidebar-items {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  height: 40px;
}

.active {
  background-color: #eeeeee;
  border-radius: 10px;
}

.sidebar-item:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.sidebar-item i {
  margin-right: 24px;
}

.chrome {
  color: white;
}

.text {
  margin-left: 1.4rem;
}

#youtube {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.premium {
  margin-left: 1.4rem;
}

#studio {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#utub-mus {

  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#news-live {
  position: relative;
  margin-left: 1.5rem;
  height: 25px;
  width: 25px;
}

#kids {

  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#tv {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.about {
  color: #888;
  margin-left: 2rem;
}

.terms {
  color: #888;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.copyright {
  color: #aaa;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.sidebar-icons {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}

.spacing-copyright {
  background-color: white;
  height: 50px;
}

.sb-ruler {
  color: 5px solid rgb(255, 4, 4);
}