.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 200px;
    height: 800px;
    z-index: 200;
    padding-top: 5px;
  }
  
  .sidebar-link {
    height: 45px;
    width: 90%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
  }
  
  .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
  }
  
  .sidebar-link div {
    font-size: 10px;
  }

  /*subscription*/


  .netflix-live{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 100%;

  }