.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 200px;
    height: 800px;
    z-index: 200;
    padding: 0 12px;
  }
  
  .sidebar-link {
    height: 45px;
    width: 90%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
  }
  
  .sidebar-link img {
    flex: .3;
    height: 24px;
    margin-bottom: 4px;
  }
  
  .sidebar-link div {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    
  }

  /*subscription*/

  .subscription-header{
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    padding: 6px 12px 4px;

  }
  .logo-sub img{
    padding-bottom: -5px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;

  }